

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem;
}

.ourServices,.policy,.social{
    padding-top: 2rem;
}


.text{
    padding-top: 1rem;
    color:#4b3663;
}

.heading{
    color: #30363c;
    margin-top: 1.5rem;
}

.download>img{
    margin-top: 1rem;
}

.download>h3{
    margin: 1rem 0 0 1rem;
}

.follow>h3{
    margin-left: 1rem;
}

.social>a{
    margin-left: 1rem;
    color: black;
}

.social>a>i{
    width: 2rem;
    font-size:2rem;
    color: #30363c;
}


.main2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* gap: 1rem; */
}

.copyright{
    /* border: 1px solid black; */
    display: flex;
    align-items:center;
    margin-left: 7rem;
    font-size: 1rem;
    gap: .5rem;
    color: #374654;
}

.copy>i{
    margin-top: 1rem;
}

.logo{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    gap: .5rem;
    padding-top:1rem;
}

.partners>h3{
    margin-left: 1rem;
    color: #30363c;
}

.footer_img{
    height: 5vh;
    margin-left: 1rem;
}


@media all and (max-width:1000px){
   
    .main {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        max-width: 600px;
        margin: 0 ;
      }

      .main2{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        /* gap: 1rem; */
    }

      .one{
        background-color: transparent;
        border-bottom: 1px solid #9fa4a8;
        width: 60rem;
        margin: 15px 0;
        padding: 15px;
        position: relative;
        overflow: hidden;
        transition: 0.3s ease;
      }

      .company.active::before,
      .company.active::after {
        font-size: 7rem;
        position: absolute;
        opacity: 0.2;
        top: 20px;
        left: 20px;
        z-index: 0;
}

.company.active::before {
    color: #3498db;
    top: -10px;
    left: -30px;
    transform: rotateY(180deg);
  }

  .heading {
    margin: 0 35px 0 0;
  }

  .text {
    display: none;
    margin: 5px 0 0;
  }

  .one.active .text {
    display: block;
  }

  .faq-toggle {
    background-color: transparent;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0;
    position: absolute;
    top: 30px;
    right: 30px;
    height: 30px;
    width: 30px;
  }
  
  .faq-toggle:focus {
    outline: 0;
  }
  
  .faq-toggle .fa-times {
    display: none;
  }
  
  .faq.active .faq-toggle .fa-times {
    color: #fff;
    display: block;
  }
  
  .faq.active .faq-toggle .fa-chevron-down {
    display: none;
  }
  
  .faq.active .faq-toggle {
    background-color: #9fa4a8;
  }

  img{
    height: 2rem;
    margin-top: 1rem;
}

  .copyright{
    /* border: 1px solid black; */
    display: flex;
    /* align-items:center; */
    margin: 4rem 1rem 0;
    font-size: 1rem;
    gap: .5rem;
    color: #374654;
}

.follow>h3{
    margin: 1rem;
}

.social, .follow{
    padding-top: .5rem
}
  
}

@media (min-width: 1000px) and (max-width: 5000px){
    .faq-toggle{
        display: none;
    }

    .download{
        display: none;
    }
}