.carousel-cell{
    /* height: 500px;  */
    /* margin-right: 10px;
    border-radius: 15px; */
    background-size: cover;
    background-position: center ;
    /* align-items:center; */
}
/* .carousel{
    margin: 8%;
} */

.carousel-cell:before{
display: block;
content:'';
}
.cero1{
width:35%
}
.cero2{
    width:66%
    }
.flickity-prev-next-button {
    display:none;

}

#call_action{
    display:flex;

}
.gp,.as{
    display: flex;

    background-color: #4B4B4B;
    align-items: center;
    gap: 42px;
    margin-bottom: 20px;
    padding: 16px;
    border-radius: 8px;
}
.gp>img,.as>img{
    width:10%

}

.gp>p,.as>p{
    color: white;
}

.phone>img{
    width:50%
}
.stors>h4{
    margin-bottom: 20px;
}
/* .cero3{
    width:36%

} */